* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*---------- about ----------*/

body{
    background: #212121;
}

.box{
    display: flex;
    justify-content: flex-start;
    min-height: 92vh;
    font-family: sans-serif;
}

.about-card{
    position: absolute;
    width: 300px;
    height: 350px;
    background: #fff;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

@media screen and (min-width: 601px) {
    .about-card {
        margin-left: 320px;
        margin-top: 100px;
    }
}
  
@media screen and (max-width: 600px) {
    .about-card {
        margin-left: 100px;
        margin-top: 120px;
    }
}

.about-card:before,
.about-card:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
}

.about-card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.about-card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.about-card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}
  
.card:hover .imgBx {
    bottom: 80px;
}

.about-card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.about-card .details h2 {
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
} 

.about-card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
} 

.about-text {
    position: absolute;
    color: white;
    width: 600px;
    text-align: justify;
    background-color: rgba(128, 128, 128, 0.616);
    padding: 30px;
    border-radius: 25px;
}

.about-text p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

@media screen and (min-width: 601px) {
    .about-text {
        margin-left: 700px;
        margin-top: 300px;
    }
}
  
@media screen and (max-width: 600px) {
    .about-text {
        margin-left: 100px;
        margin-top: 120px;
    }
}

/*---------- end of about ----------*/