* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/*---------- product ----------*/

.products {
  background: url("../images/bcg4.jpg") center/cover no-repeat;
  background-attachment: fixed;
 
}

.product-title {
  text-align: center;
  padding: 60px;
  color: rgba(0, 0, 0, 0.699);
}

@media screen and (min-width: 601px) {
  .product-title h1 {
    font-size: 200px;
  }
}

@media screen and (max-width: 600px) {
  .product-title h1 {
    font-size: 40px;
  }
}

.product-center {
  width: 90vw;
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 601px) {
  .bead-title{  
      margin-left: 170px;
      margin-bottom: 0;
      padding-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .bead-title{
      margin-left: 30px;
      margin-bottom: 0;
      padding-top: 90px;
  }
}

.product-center2 {
  width: 90vw;
  margin: 0 auto;
  padding-top: 120px;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 601px) {
  .soutache-title{  
      margin-left: 170px;
      margin-bottom: 0;
      padding-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .soutache-title{
      margin-left: 30px;
      margin-bottom: 0;
      padding-top: 90px;
  }
}

.product-img {
  transition: all 0.3s linear;
  object-fit: cover;
  max-width: 286px;
  max-height: 180px;
  width: auto;
  height: auto;
}

.card {
  width: 286px;
  background-color: white;
  margin-bottom: 40px;
}

@media screen and (max-width: 601px) {
  .card {
      margin-left: 20px;
  }
}

.products-images {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgba(243, 222, 104, 0.822);
}


.fa-search-plus {
  position: absolute;
  cursor: pointer;
}

/*---------- end of product ----------*/

