* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*---------- header ----------*/

.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.header-title {
    display: inline;
    /* font-size: 30px; */
}

@media screen and (min-width: 601px) {
    .header-title {
      font-size: 30px;
    }
}
  
@media screen and (max-width: 600px) {
    .header-title {
      font-size: 20px;
    }
}

.header-container {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 229, 240);
    z-index: 1;
}

.fa-bars, .fa-shopping-cart {
    font-size: 25px;
    cursor: pointer;
}

.cart-btn {
    position: relative;
}

.cart-items {
    position: absolute;
    background-color: sandybrown;
    top: -8px;
    right: -8px;
    padding: 0 5px;
    border-radius: 8px;
    color: white;
}

/*---------- end of header ----------*/

/*----------background ----------*/

.page-bcg {
    min-height: calc(100vh - 60px);
    background: url("./images/background.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    background-color: rgba(239, 233, 252, 0.562);
    width: 800px;
    height: 300px;
    text-align: center;
    align-items: center;
}

.banner-title {
    font-size: 50px;
    margin-top: 90px;
    text-transform: uppercase;
}

.banner-button {
    font-size: 20px;
    padding: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: sandybrown;
    border: orange;
}

.banner-button:hover {
    opacity: 0.5;
    color: black;
}

/*---------- end of background ----------*/

/*---------- product ----------*/

.products {
    height: 0.5px;
}

.product-title {
    text-align: center;
    padding: 40px;
}

.product-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.product-img {
    transition: all 0.3s linear;
    object-fit: cover;
    max-width: 286px;
    max-height: 180px;
    width: auto;
    height: auto;
}

.card {
    width: 286px;
}

.products-images {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product p {
    font-size: 15px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.add-cart-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background-color: rgb(243, 222, 104);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
    font-size: 13px;
}

.zoom {
    transition: all 1s ease-in-out;
}
  
.zoom:hover {
    transform: scale(1.2);
}

.second-shopping-cart {
    font-size: 15px;
}

.products-images:hover .add-cart-btn {
    transform: translateX(0);
}

.fa-info-circle {
    cursor: pointer;
    border: none;
}

/*---------- end of product ----------*/

/*---------- cart ----------*/

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}
  
.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

/*---------- cart item ----------*/

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
}
  
.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: #f09d51;
    cursor: pointer;
}

/*---------- end of cart item ----------*/

.cart-footer {
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

  
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/*---------- end of cart ----------*/

/*---------- modal ----------*/

.modal-img {
    object-fit: cover;
    float: left;
    margin-right: 20px;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}
  
.fa-window-close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}
  
.fa-window-close:hover,
.fa-window-close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

/*---------- end of modal ----------*/

/*---------- menu ----------*/

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.transparentBcgMenu {
    visibility: visible;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(231, 226, 221);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#closeMenu {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.menu button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    border: none;
    background-color: rgb(231, 226, 221);;
}
  
.menu button:hover {
    color: #818181;
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu button {font-size: 18px;}
}

/*---------- end of menu ----------*/
